@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-top-bar {
        padding: 26px 0;

        .btn {
            background: linear-gradient(267.26deg, $primary -7.58%, $primary-light 101.11%);
            border-radius: 8.56px;
            color: $white;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
        }
    }

    .banner {
        background: linear-gradient(90deg, $dark 0 50%, $secondary 50% 100%);

        .banner-right {
            padding: 36px 0;

            .banner-buttons {
                background-color: $secondary;
                margin-top: -31px;
            }
        }
    }
}

section.cta {
    background: linear-gradient(180deg, $primary-light 0%, $primary 100%);
}

section.form {
    background: $secondary-light;
    padding: 103px 0;

    .main-container {
        box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.1);
        padding: 60px 55px;
        background: $white;
        border-radius: 5px;

        form {
            .form-wrapper {
                padding-top: 10px;
            }

            .separator {
                margin-left: -15px;
                margin-right: -15px;
            }

            label {
                font-size: 1.125rem;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            input,
            select {
                height: 46px;
                border: 1px solid $light-grey;
                border-radius: 5px;
                color: $black;

                &.invalid {
                    background-color: #ffdddd;
                }

                &::placeholder {
                    color: $light-grey;
                }
            }

            button {
                height: 52px;

                &:hover {
                    opacity: 0.8;
                }
            }

            .tab {
                display: none;
            }

            .step {
                border: 4px solid #eceef4;
                height: 0;
            }

            .step.active {
                border: 4px solid $secondary !important;

                span {
                    font-size: 0.875rem;

                    @include media-breakpoint-up(md) {
                        margin-top: -50px;
                        display: block !important;
                    }
                }
            }

            .step.finish {
                border: 4px solid #c7c5c5;
            }

            input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0;
            }

            .radio-toolbar label {
                display: block;
                border: 1px solid $light;
                font-weight: 600;
                text-align: center;
                padding: 20px 10px;
                font-size: 0.875rem;
                cursor: pointer;
                color: $dark;
            }
            .radio-toolbar input[type="radio"]:checked + label {
                background-color: $primary;
                color: $white;
                border: 2px solid $dark;
            }

            .radio-toolbar label:hover {
                background-color: #d9d9d92e;
            }
        }
    }
}

section.why-choose {
    padding: 76px 0;

    .why-choose-btn {
        margin-top: -28px;

        .btn {
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            padding: 13px 16px;
        }
    }
}

section.services {
    padding: 75px 0 81px;

    .service-card {
        border-radius: 4px;
        overflow: hidden;

        .help {
            margin-top: -3rem;

            .icon {
                height: 96px;
                width: 96px;
                border-radius: 50%;
                background: $tertiary-dark;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .call-btn {
                color: $primary;
                font-size: 1.05rem; // 16.8px
                padding: 10px 55px;
                font-weight: 600;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }

        .title {
            background: $tertiary;
            color: $white;
            padding: 0 18px 24px 39.72px;
        }
    }

    .quick-contact {
        padding: 95px 68px 102px;
        background: imgUrl("quick-contact.png");
        background-size: contain;
    }
}

section.projects {
    background-color: $jet-black;
    padding: 113px 0;

    .project {
        color: $light-grey;
        font-size: 1.5rem; // 24px
        border: 1px solid $light-grey;
        border-radius: 2px;
        padding: 17px 19px;
        margin: 23px 0;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
        }

        &.active {
            color: $primary;
            border-color: $primary;

            svg {
                transform: rotate(180deg);
                transition: 0.2s all;
            }
        }
    }

    .project-images {
        display: none;
        transition: 0.2s all;

        &.active {
            display: block;
        }
    }
}

section.brands {
    padding: 48px 0;

    .brands-slider {
        .slick-track {
            display: flex;
        }

        .slick-track .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
            margin: 0 17px;
        }
    }
}

section.payments {
    background: imgUrl("payments.png") right bottom $tertiary;
    background-size: contain;

    .brighte {
        background: imgUrl("brighte.png");
        background-size: contain;
        padding: 25px 48px;
    }
}

section.testimonials {
    padding: 43px 0 114px;
    
    .main-wrapper {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .testimonial-main {
            padding: 98px 65px;

            .testimonial-slider {
                .testimonial-slider-content {
                    .quote {
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-style: italic;
                        color: $grey;
                        border-left: 6px solid $primary;
                        line-height: 1;
                        padding-left: 22px;
                        margin: 60px 0 25px;
                    }
                }
            }

            .testimonial-arrow {
                color: $light-grey;
                cursor: pointer;
                transition: 0.2s all;

                &:hover {
                    color: $dark;
                }
            }

            .slick-slider-dots .slick-dots {
                bottom: 0px;
                display: flex;
                list-style-type: none;

                li {
                    margin: 0 0.25rem;
                }

                button {
                    display: block;
                    width: 25px;
                    height: 4px;
                    padding: 0;
                    border: none;
                    border-radius: 50px;
                    background-color: $light;

                    text-indent: -9999px;
                }

                li.slick-active button {
                    background-color: $primary;
                }
            }
        }
    }
}

section.gmb {
    background: imgUrl("map.jpg");
    background-size: cover;
    padding: 178px 0 135px;

    .gmb-wrapper {
        background: $primary;
        border-radius: 20px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

        .gmb-img {
            border-radius: 20px;
            overflow: hidden;
            filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
        }
    }
}

footer {
    background: $jet-black;
}
